.table {
  border-collapse: collapse;
  border: 1px solid rgba(24, 24, 24, 0.2);
}

thead {
  background-color: var(--gray);
  height: 54px;
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
}
tr {
  width: 100%;
}
td,
th {
  padding-right: 40px;
}
table h2 {
  font-weight: 500;
}
.table__head-th:first-of-type > .head-th__block {
  padding-left: 20px;
}
.filter-sort {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
}

.head-th__block {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
}
.head-th__block h2 {
  text-transform: capitalize;
}

.table-name {
  font-weight: 500;
  text-transform: lowercase;
}
.table-id {
  overflow-x: scroll;
  max-width: 80px;
  cursor: pointer;
}
.table-id::-webkit-scrollbar {
  display: none;
}
.table-accordeon {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.accordeon-btn {
  background: var(--dark-blue);
  width: 36px;
  height: 36px;
  padding: 6px 8px;
}
.table-info {
}
.table__btn-status {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  gap: 4px;
  padding: 6px 8px;
}
.table-info td {
  padding: 28px 0;
}
tr td:first-of-type {
  padding-left: 20px;
}
tr td:last-of-type {
  padding-right: 20px;
}

/* accordeon */

.table__full-info {
  background-color: var(--grey-light);
}
.table__full-info td {
  padding-top: 20px;
  vertical-align: top;
  padding-bottom: 14px;
}
.table__full-info h4 {
  white-space: nowrap;
}
.full-info__source,
.full-info__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}
.full-info__preview {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.full-info__qr-code {
  display: flex;
  gap: 20px;
}
.qr-code__qr-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.qr-options__buttons {
  display: flex;
  gap: 20px;
  align-items: end;
}
